<section class="relative rounded-xl min-h-[200px]">
  <div
    class="relative bg-white/90 backdrop-blur-sm rounded-xl max-w-5xl mx-auto"
  >
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h5 class="text-2xl font-bold text-blue-900 mb-8 flex items-center gap-2">
        <svg
          class="w-6 h-6 text-blue-700"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
          />
        </svg>
        Final Submission
      </h5>

      <div class="border border-gray-100 rounded-md p-4 bg-white mb-8">
        <h6
          class="mb-3 text-blue-800 text-base font-semibold flex items-center gap-1.5"
        >
          <svg
            class="h-4 w-4 text-blue-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
            />
          </svg>
          Declaration
        </h6>
        <div class="flex items-start gap-2">
          <input
            type="checkbox"
            class="accent-blue-600 w-4 h-4 mt-1"
            formControlName="declaration"
            [ngClass]="{ 'checkbox-disabled': isSubmitted }"
          />
          <label class="text-base text-gray-700" [innerHTML]="declarationText">
            </label>
        </div>
      </div>

      <div class="text-center mt-5">
        <p
          class="text-base text-red-600 mt-1.5 font-medium italic tracking-tight"
        >
          Note: This is not the final copy of the application. Please keep the
          final copy of your application after payment for future reference. You
          are not allowed to edit the application after Final Submit.
        </p>
      </div>
    </form>
  </div>
</section>