<div class="container">
  <div *ngIf="loading" class="text-center py-4">
    <p>Loading form data...</p>
  </div>

  <div *ngIf="!loading && errorMessage" class="text-center py-4 text-red-600">
    <p>{{ errorMessage }}</p>
  </div>

  <div
    *ngIf="!loading && !errorMessage"
    class="w-full font-['Source Sans Pro',sans-serif]"
  >
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="space-y-8 text-sm text-blue-700">
        <div
          *ngIf="notes.length"
          class="p-4 bg-blue-50 border border-gray-200 rounded-md"
        >
          <ul class="list-disc list-inside space-y-2">
            <li *ngFor="let note of notes">
              <strong>NOTE:</strong> {{ note.message }}
            </li>
          </ul>
        </div>

        <div
          *ngIf="
            form.get('mandatorySubheadingsSelected')?.invalid && form.touched
          "
          class="text-red-600 text-xs mt-1 p-2 bg-red-50 border border-red-200 rounded-md"
        >
          <div *ngIf="form.get('firstMissedMandatory')?.value">
            <strong>Mandatory Field Required:</strong>
            {{ form.get("firstMissedMandatory")?.value }} must be provided.
          </div>
        </div>

        <h5
          *ngIf="heading"
          class="bg-blue-100 border border-gray-200 rounded-md px-3 py-2 text-sm font-medium text-blue-600 flex items-center gap-2"
        >
          <svg
            class="h-5 w-5 text-blue-600"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            />
          </svg>
          {{ heading.score_field_title_name }}
        </h5>

        <div
          *ngFor="let subheading of subheadings; let i = index"
          class="mt-8 bg-white rounded-lg border border-gray-200 shadow-sm p-6"
        >
          <h6
            class="bg-blue-100 border border-gray-200 rounded-md px-3 py-2 text-sm font-medium text-blue-600 flex items-center gap-2 mb-4"
          >
            <svg
              class="h-10 w-10 text-blue-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
              />
            </svg>
            <span class="break-words">{{
              subheading.score_field_title_name
            }}</span>
          </h6>

          <div [formArrayName]="getUniqueKey(subheading, i)" class="mt-4">
            <ng-container
              *ngFor="
                let group of getQualifications(getUniqueKey(subheading, i))
                  .controls;
                let j = index
              "
            >
              <div
                [formGroupName]="j"
                [class.hidden]="group.get('is_deleted')?.value"
                class="space-y-6 mb-6 p-4 border border-gray-200 rounded-md relative"
              >
                <input
                  type="hidden"
                  formControlName="a_rec_app_score_field_detail_id"
                />
                <input type="hidden" formControlName="is_deleted" />

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                  <div
                    *ngFor="
                      let param of getParameters(
                        subheading.m_rec_score_field_id,
                        subheading.a_rec_adv_post_detail_id
                      )
                    "
                  >
                    <input
                      type="hidden"
                      [formControlName]="
                        'param_' +
                        param.m_rec_score_field_parameter_new_id +
                        '_id'
                      "
                    />

                    <label class="block text-sm font-medium text-blue-600 mb-1">
                      {{ param.score_field_parameter_name }}
                      <span
                        *ngIf="param.is_mandatory === 'Y'"
                        class="text-red-600"
                        >*</span
                      >
                    </label>

                    <ng-container [ngSwitch]="param.control_type">
                      <textarea
                        *ngSwitchCase="'TR'"
                        [formControlName]="param.score_field_parameter_name"
                        [placeholder]="
                          'Enter ' + param.score_field_parameter_name
                        "
                        rows="3"
                        class="w-full min-w-[150px] border border-gray-200 rounded-md px-2 py-1 text-sm focus:ring-1 focus:ring-gray-400 focus:border-gray-400 bg-white"
                      ></textarea>

                      <input
                        *ngSwitchCase="'DT'"
                        type="date"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                      />
                      <select
                        *ngSwitchCase="'DC'"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full min-w-[150px] border border-gray-200 rounded-md px-2 py-1 text-sm focus:ring-1 focus:ring-gray-400 focus:border-gray-400 bg-white"
                      >
                        <option value="">
                          Select {{ param.score_field_parameter_name }}
                        </option>

                        <option
                          *ngFor="
                            let option of dropdownData.get(param.isQuery_id)
                          "
                          [value]="option.data_name"
                        >
                          {{ option.data_name }}
                        </option>
                      </select>
                      <select
                        *ngSwitchCase="'DP'"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                      >
                        <option [ngValue]="null">
                          Select {{ param.score_field_parameter_name }}
                        </option>
                        <option
                          *ngFor="
                            let option of dropdownData.get(param.isQuery_id)
                          "
                          [value]="option.data_name"
                        >
                          {{ option.data_name }}
                        </option>
                      </select>

                      <select
                        *ngSwitchCase="'DY'"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                      >
                        <option [ngValue]="null">
                          Select {{ param.score_field_parameter_name }}
                        </option>
                        <option
                          *ngFor="
                            let option of dropdownData.get(param.isQuery_id)
                          "
                          [value]="option.data_name"
                        >
                          {{ option.data_name }}
                        </option>
                      </select>

                      <select
                        *ngSwitchCase="'DE'"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                      >
                        <option [ngValue]="null">
                          Select {{ param.score_field_parameter_name }}
                        </option>
                        <option
                          *ngFor="
                            let option of dropdownData.get(param.isQuery_id)
                          "
                          [value]="option.data_name"
                        >
                          {{ option.data_name }}
                        </option>
                      </select>
                      <select
                        *ngSwitchCase="'D'"
                        [formControlName]="param.score_field_parameter_name"
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                      >
                        <option value="">
                          Select {{ param.score_field_parameter_name }}
                        </option>

                        <option
                          *ngFor="
                            let option of dropdownData.get(param.isQuery_id)
                          "
                          [value]="option.data_name"
                        >
                          {{ option.data_name }}
                        </option>
                      </select>

                      <ng-container *ngSwitchCase="'A'">
                        <input
                          type="file"
                          (change)="
                            onFileSelected(
                              $event,
                              j,
                              getUniqueKey(subheading, i),
                              param.score_field_parameter_name
                            )
                          "
                          accept="application/pdf,image/jpeg,image/png"
                          class="mt-1 block w-full text-sm text-blue-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
                        />
                        <a
                          *ngIf="
                            !group.get(param.score_field_parameter_name)
                              ?.value &&
                            getFilePath(
                              getUniqueKey(subheading, i),
                              param.m_rec_score_field_parameter_new_id,
                              j
                            ) as filePath
                          "
                          [href]="sanitizeFileUrl(filePath)"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-xs !text-green-600 hover:underline flex items-center"
                        >
                          <svg
                            class="h-4 w-4 mr-1"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
                            />
                          </svg>
                          View Uploaded File
                        </a>
                        <div
                          *ngIf="
                            group.get(param.score_field_parameter_name)
                              ?.value as newFile
                          "
                          class="mt-2 text-xs text-green-700 flex items-center"
                        >
                          <svg
                            class="h-4 w-4 mr-1"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                          </svg>
                          {{ newFile.name }}
                        </div>
                      </ng-container>

                      <input
                        *ngSwitchDefault
                        [type]="
                          param.isDatatype === 'number' ? 'number' : 'text'
                        "
                        [formControlName]="param.score_field_parameter_name"
                        [placeholder]="
                          'Enter ' + param.score_field_parameter_name
                        "
                        class="w-full border border-gray-300 rounded-md px-3 py-2 text-sm bg-white text-blue-900 focus:outline-none focus:ring-2 focus:ring-gray-600"
                        [attr.pattern]="
                          param.control_type === 'T' &&
                          param.isDatatype === 'text'
                            ? '^[a-zA-Z ()]*$'
                            : null
                        "
                        (keydown)="allowAlphabetsOnly($event, param)"
                      />
                    </ng-container>

                    <div
                      *ngIf="
                        group.get(param.score_field_parameter_name)?.touched &&
                        group.get(param.score_field_parameter_name)?.invalid
                      "
                      class="text-red-600 text-xs mt-1"
                    >
                      <div
                        *ngIf="
                          group
                            .get(param.score_field_parameter_name)
                            ?.hasError('required')
                        "
                      >
                        This field is required.
                      </div>

                      <div
                        *ngIf="
                          group
                            .get(param.score_field_parameter_name)
                            ?.hasError('pattern')
                        "
                      >
                        Only alphabetic characters and () are allowed.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="absolute -top-3 -right-3">
                  <button
                    type="button"
                    (click)="removeQualification(group)"
                    class="p-1 bg-red-500 text-white rounded-full hover:bg-red-600 shadow-md"
                  >
                    <svg
                      class="h-4 w-4"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </ng-container>

            <button
              type="button"
              (click)="addQualification(subheading, i)"
              class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 text-sm flex items-center shadow-sm"
            >
              <svg
                class="h-4 w-4 mr-2"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                />
              </svg>
              Add More Experience
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
