/* Custom styles for additional tweaks if needed */
section {
  @apply w-full mx-auto;
}

/* Ensure select elements are styled consistently */

.checkbox-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
select {
  option.option-disabled {
    // 1. Makes the text gray to look disabled
    color: #9ca3af;

    // 2. Changes the cursor to a block sign on hover
    cursor: not-allowed;

    // 3. (The magic part) Prevents the option from being clickable
    pointer-events: none;
  }
}
