/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* Add this to src/styles.scss */

input:disabled,
textarea:disabled,
select:disabled {
  background-color: #f3f4f6 !important; /* Tailwind's bg-gray-100 */
  cursor: not-allowed !important;
  color: #6b7280 !important; /* Tailwind's text-gray-500 */
  border-color: #d1d5db !important; /* A slightly darker border */
}
