<div [style.cursor]="disabled ? 'not-allowed' : 'default'">
  <ng-select
    [items]="items"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [placeholder]="placeholder"
    [clearable]="disabled ? false : clearable"
    [searchable]="disabled ? false : searchable"
    [readonly]="disabled"
    [class.ng-select-disabled]="disabled"
    [style.pointer-events]="disabled ? 'none' : 'auto'"
    [ngModel]="value"
    (ngModelChange)="change($event)"
    appendTo="body">
  </ng-select>
</div>
